@import url("https://fonts.googleapis.com/css2?family=Monserrat:500");
.main {
  color: gainsboro;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100px 50px 1fr 100px 200px;
      grid-template-rows: 100px 50px 1fr 100px 200px;
      grid-template-areas: "my-header my-header my-header" "my-nav my-nav my-nav" "my-section my-section my-section" "my-aside my-aside my-aside" "my-footer my-footer my-footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: my-header;
  background-color: blueviolet;
}

.nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: my-nav;
  background-color: cornflowerblue;
}

.aside {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: my-aside;
  background-color: darkmagenta;
}

.section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: my-section;
  background-color: indigo;
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: my-footer;
  background-color: darkorchid;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .main {
    -ms-grid-columns: 200px 1fr 200px;
        grid-template-columns: 200px 1fr 200px;
    -ms-grid-rows: 150px 100px 1fr 100px;
        grid-template-rows: 150px 100px 1fr 100px;
        grid-template-areas: "my-header my-header my-header" "my-nav my-nav my-nav" "my-aside my-section my-section" "my-footer my-footer my-footer";
  }
}

@media (min-width: 1001px) {
  .main {
    -ms-grid-columns: 200px 1fr 200px;
        grid-template-columns: 200px 1fr 200px;
    -ms-grid-rows: 200px 1fr 100px;
        grid-template-rows: 200px 1fr 100px;
        grid-template-areas: "my-header my-header my-header" "my-nav my-section my-aside" "my-footer my-footer my-footer";
  }
}

.nav-mio {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
}

li a button {
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  padding: 9px 25px;
  background-color: #edf0f1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #bc4e9c;
}

button {
  padding: 9px 25px;
  background-color: #edf0f1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #bc4e9c;
}

button:hover {
  -webkit-box-shadow: 5px 5px 5px 10px #bc4e9c;
          box-shadow: 5px 5px 5px 10px #bc4e9c;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.body-cv {
  width: 100%;
  height: 10%;
  position: fixed;
}

.content {
  position: absolute;
  top: 68%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 50px;
  padding: 0 20px;
}

.content__container:before {
  content: '[';
  left: 0;
}

.content__container:after {
  content: ']';
  position: absolute;
  right: 0;
}

.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 170px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 45px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'open sans';
}

.logo {
  width: 10%;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #642a73;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/* Creando @MIXIN */
/* Implementando @MIXIN */
header {
  width: 100%;
  height: 450px;
  background: #bc4e9c;
  background: -webkit-gradient(linear, left top, right top, from(rgba(249, 6, 87, 0.459)), to(rgba(188, 78, 156, 0.664))), url(../img/codigo1.jpg);
  background: linear-gradient(to right, rgba(249, 6, 87, 0.459), rgba(188, 78, 156, 0.664)), url(../img/codigo1.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

header .textos-header {
  font-family: 'Roboto Mono', monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header .textos-header h1 {
  font-size: 50px;
  color: #fff;
}

header .textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

/* Implementando @MIXIN */
.foto-deslis {
  width: 100%;
  height: 450px;
  background: #bc4e9c;
  background: -webkit-gradient(linear, left top, right top, from(rgba(249, 6, 87, 0.459)), to(rgba(188, 78, 156, 0.664))), url(../img/codigo1.jpg);
  background: linear-gradient(to right, rgba(249, 6, 87, 0.459), rgba(188, 78, 156, 0.664)), url(../img/codigo1.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  color: #fff;
}

.letras-transparentre {
  position: relative;
  top: 40%;
}

.letra-t {
  background-color: black;
  font-size: 100px;
  text-align: center;
  mix-blend-mode: multiply;
  border-radius: 75px;
}

.title-my-skill {
  margin-top: 5.5rem;
  margin-bottom: 1rem;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 70%;
}

.flex-items:nth-child(1) {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.flex-items:nth-child(5) {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.flex-items:nth-child(6) {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.flex-items:nth-child(7) {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.flex-items:nth-child(8) {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.flex-items:nth-child(9) {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.flex-items:nth-child(10) {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.skills__name {
  text-align: center;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
  font-size: large;
  text-decoration: none;
  margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  padding: 9px 25px;
  background-color: #edf0f1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #bc4e9c !important;
}

.navbar-dark .navbar-toggler-icon {
  color: #fff !important;
  background-image: url(/img/icono1.png) !important;
}

.container-fluid {
  all: inherit;
}

.navbar-nav {
  float: left;
  margin: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  position: relative;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.quien-soy {
  width: 100%;
  height: 100%;
}

.texto-quien-soy {
  text-align: center;
}

.titulo-quien-soy {
  font-size: calc(2em + 2vw);
}

.descr-quien-soy {
  font-size: calc(1em + 1vw);
}

.imagen-quien-soy {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: 100%;
  text-align: center;
}

.circulo {
  width: 50vh;
  height: 50vh;
  border-radius: 500px;
  -webkit-box-shadow: 0 0 10px 0 rgba(247, 9, 247, 0.603);
          box-shadow: 0 0 10px 0 rgba(247, 9, 247, 0.603);
}

.portafolio {
  background: #f2f2f2;
}

.galeria-port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imagen-port {
  width: 33%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.imagen-port:hover .hover-galeria {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.img-card {
  max-width: 100%;
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: rgba(249, 6, 87, 0.459);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: #fff;
}

.cards {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cards .card {
  background: #642a73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  -webkit-box-shadow: 0 0 20px 0 rgba(188, 78, 156, 0.664);
          box-shadow: 0 0 20px 0 rgba(188, 78, 156, 0.664);
}

.cards .card img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.cards .card > .contenido-texto-card {
  width: 60%;
  color: #fff;
}

.cards .card > .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}

.about-services {
  background: #f2f2f2;
  padding-bottom: 30px;
}

.servicio-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Declaro  @Extend */
.color-text, input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Aplico @Extend */
/* Aplico  @Extend */
/* Aplico  @Extend */
input[type=submit] {
  background-color: #642a73;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #bc4e9c;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.wsp {
  position: fixed;
  height: -1%;
  bottom: 30px;
  right: 5px;
}

.wsp a img {
  height: 70%;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wsp:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.wsp:hover .info {
  display: block;
}

.info {
  display: none;
  position: absolute;
  bottom: 0;
  right: 21px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
  width: 350px;
  color: #fff;
  padding: 20px;
  border-radius: 500px;
  margin-bottom: 12px;
}

footer {
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid #bc4e9c;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}

.redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redes-sociales img {
  margin-right: 2px;
}

.redes-sociales img:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #cc00ff);
          filter: opacity(0.5) drop-shadow(0 0 0 #cc00ff);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  .header-color {
    height: 300px;
  }
  .letra-t {
    background-color: black;
    font-size: 50px;
    mix-blend-mode: multiply;
    border-radius: 75px;
  }
  .form-inline {
    display: none;
  }
  header {
    background-position: center;
  }
  .contenedor-sobre-nosotros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobre-nosotros .contenido-textos {
    width: 90%;
  }
  .imagen-about-us {
    width: 90%;
  }
  .imagen-port {
    width: 44%;
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards .card {
    width: 90%;
  }
  .cards .card:first-child {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .foto-deslis {
    height: 300px;
  }
  .foto-deslis .letra-t {
    text-align: start;
  }
  nav {
    text-align: center;
    padding: 30px 0 0 0;
  }
  nav > a {
    margin-right: 5px;
  }
  .textos-header h1 {
    font-size: 35px;
  }
  .textos-header h2 {
    font-size: 20px;
  }
  .imagen-about-us {
    margin-bottom: 60px;
    width: 99%;
  }
  .sobre-nosotros .contenido-textos {
    width: 95%;
  }
  .imagen-port {
    width: 95%;
  }
  .cards .card {
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards .card img {
    width: 90px;
    height: 90px;
  }
  .contenedor-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }
  .content-foo h4 {
    border: none;
  }
  .content-foo p {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
  }
  .titulo-final {
    font-size: 20px;
  }
}

/**
 * ----------------------------------------
 * animation y Curriculum
 * ----------------------------------------
 */
.preview-area {
  -webkit-transition: background 0.5s 0s ease;
  transition: background 0.5s 0s ease;
}
/*# sourceMappingURL=styles.css.map */