* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans";
}

.logo {
  width: 10%;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #642a73;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/* Creando @MIXIN */
/* Implementando @MIXIN */
header {
  width: 100%;
  height: 450px;
  background: #bc4e9c;
  background: linear-gradient(to right, hsla(340deg, 95%, 50%, 0.459), hsla(317deg, 45%, 52%, 0.664)), url(../img/codigo1.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Implementando @MIXIN */
.foto-deslis {
  width: 100%;
  height: 450px;
  background: #bc4e9c;
  background: linear-gradient(to right, hsla(340deg, 95%, 50%, 0.459), hsla(317deg, 45%, 52%, 0.664)), url(../img/codigo1.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.title-my-skill {
  margin-top: 5.5rem;
  margin-bottom: 1rem;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70%;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(5) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(6) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(7) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(8) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(9) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(10) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.skills__name {
  text-align: center;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
  font-size: large;
  text-decoration: none;
  margin-right: 10px;
}
.navbar-dark .navbar-nav .nav-link:hover {
  padding: 9px 25px;
  background-color: #edf0f1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #bc4e9c !important;
}
.navbar-dark .navbar-toggler-icon {
  color: #fff !important;
  background-image: url(/img/icono1.png) !important;
}

.container-fluid {
  all: inherit;
}

.navbar-nav {
  float: left;
  margin: 0;
  left: 50%;
  transform: translatex(-50%);
  position: relative;
}

.textos-header h1 {
  font-size: 50px;
  color: #fff;
}
.textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.quien-soy {
  width: 100%;
  height: 100%;
}

.texto-quien-soy {
  text-align: center;
}

.titulo-quien-soy {
  font-size: calc(2em + 2vw);
}

.descr-quien-soy {
  font-size: calc(1em + 1vw);
}

.imagen-quien-soy {
  flex: auto;
  /* width: 50%; */
  height: 100%;
  text-align: center;
}

.circulo {
  width: 50vh;
  height: 50vh;
  border-radius: 500px;
  box-shadow: 0 0 10px 0 rgba(247, 9, 247, 0.603);
}

.portafolio {
  background: #f2f2f2;
}

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port {
  width: 33%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.imagen-port > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.imagen-port:hover .hover-galeria {
  transform: scale(1);
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(340deg, 95%, 50%, 0.459);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hover-galeria img {
  width: 50px;
}
.hover-galeria p {
  color: #fff;
}

.cards {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.cards .card {
  background: #642a73;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.cards .card:hover {
  transform: scale(1.1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  box-shadow: 0 0 20px 0 hsla(317deg, 45%, 52%, 0.664);
}
.cards .card img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}
.cards .card > .contenido-texto-card {
  width: 60%;
  color: #fff;
}

/*  Our team */
/* Style inputs with type="text", select elements and textareas */
/* Style the submit button with a specific background color etc */
/* When moving the mouse over the submit button, add a darker green color */
/* Add a background color and some padding around the form */
/* footer */
/* Galeria */
/* Clientes */
/* ABOUT US */
/* Galeria */
/* Clients */
/* Footer */
.cards .card > .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}

.about-services {
  background: #f2f2f2;
  padding-bottom: 30px;
}

.servicio-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Declaro  @Extend */
.color-text, textarea, select, input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Aplico @Extend */
/* Aplico  @Extend */
/* Aplico  @Extend */
input[type=submit] {
  background-color: #642a73;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #bc4e9c;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.wsp {
  position: fixed;
  height: -1%;
  bottom: 30px;
  right: 5px;
}
.wsp a img {
  height: 70%;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wsp:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.wsp:hover .info {
  display: block;
}

.info {
  display: none;
  position: absolute;
  bottom: 0;
  right: 21px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
  width: 350px;
  color: #fff;
  padding: 20px;
  border-radius: 500px;
  margin-bottom: 12px;
}

footer {
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo {
  text-align: center;
}
.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid #bc4e9c;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}

.redes-sociales {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
.redes-sociales img {
  margin-right: 2px;
}
.redes-sociales img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 #cc00ff);
  transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  .form-inline {
    display: none;
  }

  header {
    background-position: center;
  }

  .contenedor-sobre-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sobre-nosotros .contenido-textos {
    width: 90%;
  }

  .imagen-about-us {
    width: 90%;
  }

  .imagen-port {
    width: 44%;
  }

  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards .card {
    width: 90%;
  }
  .cards .card:first-child {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  nav {
    text-align: center;
    padding: 30px 0 0 0;
  }
  nav > a {
    margin-right: 5px;
  }

  .textos-header h1 {
    font-size: 35px;
  }
  .textos-header h2 {
    font-size: 20px;
  }

  .imagen-about-us {
    margin-bottom: 60px;
    width: 99%;
  }

  .sobre-nosotros .contenido-textos {
    width: 95%;
  }

  .imagen-port {
    width: 95%;
  }

  .cards .card {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards .card img {
    width: 90px;
    height: 90px;
  }

  .contenedor-footer {
    flex-direction: column;
    border: none;
  }

  .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }
  .content-foo h4 {
    border: none;
  }
  .content-foo p {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
  }

  .titulo-final {
    font-size: 20px;
  }
}/*# sourceMappingURL=styles.css.map */