@import "_grid.scss";
@import "_nav.scss";
@import "_efecto-cv.scss";

$color-violeta-oscuro: #642a73;
$color-violeta-claro: #bc4e9c;
$color-Blanco: #fff;
$fw-md: 700;
$paletavioleta:(
violeta-hla-1: hsla(317, 45%, 52%, 0.664),
violeta-hla-2: hsla(340, 95%, 50%, 0.459),
violeta-rgba-1: rgba(247, 9, 247, 0.603)
);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'open sans';
}
.logo {
	width: 10%;
}
.contenedor {
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}
.titulo {
	color: $color-violeta-oscuro;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}
/* Creando @MIXIN */
// APLICANDO MAPAS
@mixin header-color {
	width: 100%;
	height: 450px;
	background: $color-violeta-claro;
	background: -webkit-linear-gradient(to right, map-get($paletavioleta, violeta-hla-2), map-get($paletavioleta, violeta-hla-21)), url(../img/codigo1.jpg);
	background: linear-gradient(to right, map-get($paletavioleta, violeta-hla-2), map-get($paletavioleta, violeta-hla-1)), url(../img/codigo1.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
@mixin skill-child {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	
}
/* Implementando @MIXIN */
header {
	@include header-color;
	.textos-header {
		font-family: 'Roboto Mono', monospace;
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;

		h1 {
			font-size: calc(2em + 2vw);
			color: $color-Blanco; 
		}
		h2 {
			font-size: calc(1em + 1vw);
			font-weight: 300;
			color: $color-Blanco;
		}
	}
}
/* Implementando @MIXIN */
.foto-deslis {
	@include header-color;
	text-align:center;
	color: $color-Blanco;

}
.letras-transparentre{
	
position: relative;
top: 40%;


}

.letra-t{
background-color: black;
font-size: 100px;
text-align: center;
mix-blend-mode: multiply;
border-radius: 75px;
}
.title-my-skill{
	margin-top: 5.5rem;
	margin-bottom: 1rem;
	font-size: 5rem;
	text-align: center;
	font-weight: $fw-md;
	color: $color-Blanco;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.skills{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 70%;
	
}
// aplico MIXIN y  Bucle FOR
@for $i from 1 through 8 {
	.flex-items:nth-child(#{$i}){
		@include skill-child()
	}
}

.skills__name{
	text-align: center;
	color: $color-Blanco;
}
.navbar-dark {
	.navbar-nav {
		.nav-link {
			color: $color-Blanco !important;
			font-size: large;
			text-decoration: none;
			margin-right: 10px;
			&:hover {
				padding: 9px 25px;
				background-color: #edf0f1;
				border: none;
				border-radius: 50px;
				cursor: pointer;
				color: $color-violeta-claro !important;
			}
		}
	}
	.navbar-toggler-icon {
		color: $color-Blanco !important;
		
	}
}
.container-fluid {
	all: inherit;
}
.navbar-nav {
	float: left;
	margin: 0;
	left: 50%;
	transform: translatex(-50%);
	position: relative;
}

.wave {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.quien-soy {
	width: 100%;
	height: 100%;
}
.texto-quien-soy {
	text-align: center;
}
.titulo-quien-soy {
	font-size: calc(2em + 2vw);
}
.descr-quien-soy {
	font-size: calc(1em + 1vw);
}
.imagen-quien-soy {
	flex: auto;
	height: 100%;
	text-align:center
	
}
.circulo {
	width: 50vh;
	height: 50vh;
	border-radius: 500px;
	box-shadow: 0 0 10px 0 map-get($paletavioleta, violeta-rgba-1);
}
.portafolio {
	background: #f2f2f2;
}
.galeria-port {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.imagen-port {
	width: 33%;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
	>img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
	&:hover {
		.hover-galeria {
			transform: scale(1);
		}
	}
}
.img-card{
	max-width: 100%;
}
.hover-galeria {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	transform: scale(0);
	background: map-get($paletavioleta, violeta-hla-2);
	transition: transform .5s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	img {
		width: 50px;
	}
	p {
		color: $color-Blanco;
	}
}
.cards {
	margin-top: 10px;
	display: flex;
	justify-content: space-evenly;
	.card {
		background: $color-violeta-oscuro;
		display: flex;
		width: 46%;
		height: 200px;
		align-items: center;
		justify-content: space-evenly;
		border-radius: 5px;
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
		&:hover {
			transform: scale(1.1);
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-size: large;
			box-shadow: 0 0 20px 0 map-get($paletavioleta, violeta-hla-1);
		}
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
			border: 3px solid $color-Blanco;
			border-radius: 50%;
			display: block;
		}
		>.contenido-texto-card {
			width: 60%;
			color: $color-Blanco;
		}
	}
}

.cards {
	.card {
		>.contenido-texto-card {
			p {
				font-weight: 300;
				padding-top: 5px;
			}
		}
	}
}
.about-services {
	background: #f2f2f2;
	padding-bottom: 30px;
}
.servicio-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* Declaro  @Extend */
.color-text{
	width: 300%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
/* Aplico @Extend */
input[type=text] {
@extend .color-text;
}
/* Aplico  @Extend */
select {
	@extend .color-text;
}
/* Aplico  @Extend */
textarea {
	@extend .color-text;
}
input[type=submit] {
	background-color: $color-violeta-oscuro;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $color-violeta-claro;
	}
}
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
.wsp {
	position: fixed;
	height: -1%;
	bottom: 30px;
	right: 5px;
	a {
		img {
			height: 70%;
			width: 70%;
			object-fit: contain;
		}
	}
	&:hover {
		transform: scale(1.1);
		transition: transform .5s;
		.info {
			display: block;
		}
	}
}
.info {
	display: none;
	position: absolute;
	bottom: 0;
	right: 21px;
	z-index: -1;
	background: rgba(0, 0, 0, 0.5);
	width: 350px;
	color: $color-Blanco;
	padding: 20px;
	border-radius: 500px;
	margin-bottom: 12px;
}
footer {
	background: #414141;
	padding: 60px 0 30px 0;
	margin: auto;
	overflow: hidden;
}
.contenedor-footer {
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	margin: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}
.content-foo {
	text-align: center;
	h4 {
		color: $color-Blanco;
		border-bottom: 3px solid $color-violeta-claro;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	p {
		color: #ccc;
	}
}
.titulo-final {
	text-align: center;
	font-size: 24px;
	margin: 20px 0 0 0;
	color: #9e9797;
}
.redes-sociales {
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: center;
	img {
		margin-right: 2px;
		&:hover {
			filter: opacity(0.5) drop-shadow( 0 0 0 #cc00ff);
			transform: scale(1.2);
		}
	}
}
@media screen and (max-width:900px) {

	.wrapper{
		padding: 0;
	}

	.title-my-skill{
		font-size: 3rem;
		margin-bottom: 1rem;
	}
	.color-text{
		width: 100%;
	}

	 .header-color {

		height: 300px;

	}
	.letra-t{
		background-color: black;
font-size: 50px;

mix-blend-mode: multiply;
border-radius: 75px;

	}
	.form-inline {
		display: none;
	}
	header {
		background-position: center;
	}
	.contenedor-sobre-nosotros {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.sobre-nosotros {
		.contenido-textos {
			width: 90%;
		}
	}
	.imagen-about-us {
		width: 90%;
	}
	.imagen-port {
		width: 44%;
	}
	.cards {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.card {
			width: 90%;
			&:first-child {
				margin-bottom: 30px;
			}
		}
	}
}
@media screen and (max-width:500px) {
	 .foto-deslis {

		height: 300px;
		.letra-t{
			text-align: center;
			
		}

	}
	nav {
		text-align: center;
		padding: 3px 0 0 0;
		>a {
			margin-right: 5px;
		}
	}
	.nav-link{
		padding: 0.4rem 1rem;
		
	}
	
	.textos-header {
		h1 {
			font-size: 35px;
		}
		h2 {
			font-size: 20px;
		}
	}
	.imagen-about-us {
		margin-bottom: 60px;
		width: 99%;
	}
	.sobre-nosotros {
		.contenido-textos {
			width: 95%;
		}
	}
	.imagen-port {
		width: 95%;
	}
	.cards {
		.card {
			height: 450px;
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				width: 90px;
				height: 90px;
			}
		}
	}
	.contenedor-footer {
		flex-direction: column;
		border: none;
	}
	.content-foo {
		margin-bottom: 20px;
		text-align: center;
		h4 {
			border: none;
		}
		p {
			color: #ccc;
			border-bottom: 1px solid #f2f2f2;
			padding-bottom: 20px;
		}
	}
	.titulo-final {
		font-size: 20px;
	}
}
/**
 * ----------------------------------------
 * animation y Curriculum
 * ----------------------------------------
 */
 .preview-area {
    -webkit-transition: background 0.5s 0s ease;
    -moz-transition: background 0.5s 0s ease;
    -o-transition: background 0.5s 0s ease;
    transition: background 0.5s 0s ease;
}
